body {
	background-color: #224066;
}

#hero {
	width: 250px;
	height: 358px;
	position: relative;
	left: 200px;
	top: 200px;
}

@keyframes hero-stance {
	from{
		top: 0;
	}
	to {
		top: -10px;
	}
}

#hero .stance {
	visibility: hidden;
	background-image: url(img/123.png);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	animation-name: hero-stance;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

#hero .attack {
	visibility: hidden;
	background-image: url(img/attack.png);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

#hero.idle .stance {
	visibility: visible;
}

#hero.attack .attack {
	visibility: visible;
	top: -30px;
}

@keyframes shadow{
	from{
		width: 250px;
	} 
	to {
		width: 225px;
		left: 1.25px
	}
}

#hero .shadow {
	background-image: url(img/shadow.png);
	width: 250px;
	height: 84px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: -50px;
	z-index: 1;
	animation-name: shadow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

#hero.attack .shadow {
	animation-name: nome;
	width: 200px;
	left: -12.5px;
}

#hero .text {
	font-size: 55px;
	font-weight: thin;
	color: white;
	width: 310px;
	position: absolute;
	left: 350px;
	top: -10px;
}

@keyframes laser {
	from{
		width: 175px;
	}
	to {
		width: 525px;
	}
}

#hero .laser{
	background-image: url(img/laser.png);
	width: 175px;
	height: 70px;
	position: absolute;
	left: 168px;
	top: 15px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-name: laser;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#hero .laser::after {
	content: " ";
	width: 4px;
	height: 100%;
	right: 0;
	top: 1xp;
	background-color: #ffe500;
	position: absolute;
	border-radius: 3px;
	box-shadow: 0 0 10px 3px #ffe500;
}